body {
    height: 750px;
    width: 1850px;
    background: rgb(131,58,180);
    background: linear-gradient(100deg, rgba(131,58,180,1) 0%, rgba(233,0,0,1) 0%, rgba(185,238,24,1) 100%);
  }

form{
    height: 400px;
    width: 300px;
    background-color: #313131;
    margin-left: 42%;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  
  }
  
input{
  border: white solid;
  height: 15px;
  }
  
h2{
    color: white;
    margin-bottom: 50px;
 }
  
label{
    font-weight: 400;
    color: white;
}